html {
line-height : 1.15;
}
body {
margin : 0;
}
main {
display : block;
}
h1 {
margin : 0.67em 0;
}
hr {
box-sizing : content-box;
height : 0;
overflow : visible;
}
pre {
font-family : monospace, monospace;
font-size : 1em;
}
a {
background-color : transparent;
}
abbr[title] {
border-bottom : none;
text-decoration : underline;
text-decoration : underline dotted;
}
b, strong {
font-weight : bolder;
}
code, kbd, samp {
font-family : monospace, monospace;
font-size : 1em;
}
small {
font-size : 80%;
}
sub, sup {
font-size : 75%;
line-height : 0;
position : relative;
vertical-align : baseline;
}
sub {
bottom : -0.25em;
}
sup {
top : -0.5em;
}
img {
border-style : none;
}
button, input, optgroup, select, textarea {
font-family : inherit;
font-size : 100%;
line-height : 1.15;
margin : 0;
}
button, input {
overflow : visible;
}
button, select {
text-transform : none;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
border-style : none;
padding : 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
outline : 1px dotted ButtonText;
}
fieldset {
padding : 0.35em 0.75em 0.625em;
}
legend {
box-sizing : border-box;
color : inherit;
display : table;
max-width : 100%;
padding : 0;
white-space : normal;
}
progress {
vertical-align : baseline;
}
textarea {
overflow : auto;
}
[type="checkbox"], [type="radio"] {
box-sizing : border-box;
padding : 0;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
height : auto;
}
[type="search"] {
outline-offset : -2px;
}
::-webkit-file-upload-button {
font : inherit;
}
details {
display : block;
}
summary {
display : list-item;
}
template {
display : none;
}
html, body, p {
margin : 0;
padding : 0;
}
body {
font-family : "Arial", sans-serif;
font-size : 16px;
color : #333;
}
a {
text-decoration : none;
color : #0077B6;
}
header {
background : #333;
padding : 20px;
}
.header-title {
font-size : 24px;
color : #FFF;
}
nav {
background : #c05f5f;
text-align : center;
padding : 30px;
}
nav ul {
list-style-type : none;
}
nav li {
display : inline;
margin-right : 20px;
}
nav li a {
color : #FFF;
font-size : 20px;
}
.container {
max-width : 100%;
margin : 0 auto;
padding : 20px;
}
.content {
background : #E9E7FA;
}
footer {
background : #333;
padding : 20px;
color : #FFF;
text-align : center;
}
.page-border {
content : "";
height : 2px;
background-color : #0077B6;
display : block;
}
a:hover {
color : #00537E;
}
.button {
background : #0077B6;
color : #FFF;
padding : 10px 20px;
border : none;
border-radius : 5px;
cursor : pointer;
}
.button:hover {
background : #00537E;
}
section.hidden {
display : none;
}
nav a.active {
font-weight : bold;
color : #0077B6;
}
.shake {
animation : shake 0.5s ease-in-out;
}
@keyframes shake {
0%, 100% {
transform : translateX(0);
}
25%, 75% {
transform : translateX(-5px);
}
50% {
transform : translateX(5px);
}
}
@media screen and (max-width: 768px) {
nav ul {
display : flex;
flex-direction : column;
align-items : center;
}
nav li {
margin : 10px 0;
display : block;
}
#quick-access {
text-align : center;
margin-top : 20px;
}
#quick-links {
display : flex;
justify-content : center;
align-items : center;
}
#quick-links img {
display : block;
border-radius : 8px;
cursor : pointer;
margin : 0 10px;
}
#quick-links .google {
margin-right : 10px;
}
#quick-links .youtube {
margin-left : 10px;
}
}
